/* pseudo-Elementos para variables que se 
crean con -- dentro de root*/
:root {
    --primary-color-grey:#6e7886;
    --primary-color-grey-50: rgba(110, 120, 135, 0.1);
    --color-icon-comentario: rgb(29, 161, 242);
    --color-icon-comentario-50: rgba(29, 161, 242, 0.4);
    --color-icon-retweet: rgb(24, 179, 95);
    --color-icon-retweet-50: rgba(24, 179, 95, 0.4);
    --color-icon-like: rgb(224, 36, 94);
    --color-icon-like-50: rgba(224, 36, 94, 0.4);
    --color-icon-compartir: rgb(30, 148, 221);
    --color-icon-compartir-50: rgba(30, 148, 221, 0.4);
}

*{ /*este es el selector universal*/
    background-color: #15202b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box; /*Toma el tamaño de la caja con el borde*/
    color:antiquewhite solid;
    padding: 0;
    margin: 0;
}
a{
    color:rgb(29, 161, 242);
    text-decoration: none;
}
body{
    
    width: 100vw;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
}

img, svg{
    max-width: 100%;
    max-height: auto;
}
.greyText{
    color: var(--primary-color-grey);
}
.conteinerTweet{
    border: solid;
    border-color: transparent transparent var(--primary-color-grey) transparent;
    border-width: 1px;
    
    width: 650px;
    height: 400px;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.conteinerTweet *{
    background-color: transparent;
}
.conteinerTweet:hover{
    cursor: pointer;
    background-color: var(--primary-color-grey-50);
    border-radius: 10px;
    transition-duration: 0.5s;
}

.bodyTweet{
    grid-column: 1/13;
    grid-row: 1/11;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
}
.textTweet p{
    padding: 10px 0px;
}
.textTweet img{
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color-grey);
    width: 95%;
}
.imgPerfil > img{
    width: 75%;
    border-radius: 50%;
    margin: 10px;
}
.bodyIcons{
    grid-column: 1/13;
    grid-row: 12/13;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bodyIcons:nth-child(1):hover{
    background-color: transparent;
    cursor: alias;
}

.Icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Icon svg{
    width: 50%;
    padding: 5px;
    margin-right: 5px;
    fill: var(--primary-color-grey);
}
.Icon span{
    font-size: small;
    color: var(--primary-color-grey);
}
/*ICON Compartir*/
.bodyIcons .icon:nth-child(1):hover svg{
    border-radius: 60%;
    background-color: var(--color-icon-comentario-50);
    fill: var(--color-icon-comentario);
    transition-duration: 0.5s;
}
.bodyIcons .Icon:nth-child(1):hover span{
    color: var(--color-icon-comentario);
    transition-duration: 0.5s;
}
/*ICON Retweet*/
.bodyIcons .icon:nth-child(2):hover svg{
    border-radius: 60%;
    background-color: var(--color-icon-retweet-50);
    fill: var(--color-icon-retweet);
    transition-duration: 0.5s;
}
.bodyIcons .Icon:nth-child(2):hover span{
    color: var(--color-icon-retweet);
    transition-duration: 0.5s;
}
/*ICON Like*/
.bodyIcons .icon:nth-child(3):hover svg{
    border-radius: 60%;
    background-color: var(--color-icon-like-50);
    fill: var(--color-icon-like);
    transition-duration: 0.5s;
}
.bodyIcons .Icon:nth-child(3):hover span{
    color: var(--color-icon-like);
    transition-duration: 0.5s;
}
/*ICON Compartir*/
.bodyIcons .icon:nth-child(4):hover svg{
    border-radius: 60%;
    background-color: var(--color-icon-compartir-50);
    fill: var(--color-icon-compartir);
    transition-duration: 0.5s;
}